@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #2FC2EA;
  --bg-primary: #0a1d32;
  --bg-secondary: #113458;
  --text-primary: #c7c7c7;

  /* black */
  --black-100: #131313;
  --black-90: #1b1919;
  --black-80: #262626;
  /* gray */

  --gray-100: #b6b6b6;
  --gray-90: #d8d8d8;
  --gray-80: #efefef;

  /* white */
  --white-100: #ffffff;
  --white-90: #f1f1f1;

  --gradient: linear-gradient(90deg, rgb(39, 206, 235) 20%, rgb(210, 27, 170) 100%);
}

::selection {
  background-color: var(--primary-color);
  color: var(--bg-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
  color-scheme: dark;
  color: var(--text-primary);
  font-size: 1rem;
}

a.active {
  color: var(--whtie-100);
}

.gradient {
  background: var(--gradient);
}

.text-gradient {
  background-color: var(--bg-primary);
  background-image: var(--gradient);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-animation {
  animation: navAnimation 0.5s ease-in-out;
}

@keyframes navAnimation {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}


/* style the swiper buttons */

.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--bg-secondary);
  height: 30px !important;
  width: 30px !important;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 12px !important;
}


/* loadin animtaion */

.loadingAnim {
  animation: loadingAnim 1.2s infinite;
  background: linear-gradient(to right, var(--bg-secondary), #0b4e95, var(--bg-secondary));
}

@keyframes loadingAnim {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.select .react-select__control {
  background-color: var(--bg-secondary);
  outline: none;
  border: none;
  border-radius: 20px;
}

.select .react-select__placeholder {
  color: var(--white-90);
  font-size: 14px;
  margin-left: 10px;
}

.select .react-select__single-value {
  color: var(--white-90);
  font-size: 14px;
  margin-left: 10px;
}

.select .react-select__option {
  color: var(--black-100);
}

.select .react-select__multi-value {
  background-color: var(--black-100);
  color: var(--white-100);
}

.select .react-select__multi-value__label {
  color: var(--white-100);
}

.select .react-select__multi-value__remove:hover {
  background-color: var(--bg-primary);
  color: var(--white-100);
}

.infinite {
  overflow: hidden !important;
}